@import 'common/base';
@import 'common/header';

.country {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  ul {
    li {
      div {
        margin: 1rem auto;
        padding: 1rem;
        background: #fce4ec;
        border: 1px solid #fce4ec;
        transition: 1s;
        border-radius: 1rem;
        color: #616161;
        &:hover {
          background: #FFF;
        }
      }
    }
  }
}

.btn {
  background: #00acc1;
  color: #FFF;
  border: 1px solid #00acc1;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  margin: 2rem auto;
  transition: 1s;
  &:hover {
    background: #FFF;
    color: #00acc1;
  }
}

.active {
  background: #d81b60!important;
  color: #FFF!important;
  border: 1px solid #d81b60!important;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.back-btn-wrap {
  display: flex;
  justify-content: center;
  padding: 2rem;
  button {
    max-width: 400px;
  }
}
